body{
margin: 0;
background-color:#2F2E41 ;
color: #FFFFFF;
}

header {
    display: flex;   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 71px 98px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}
 main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vh;
    padding: 202px;
    text-align: center;
}

h1{
    font-size: 36px;
    font-family: JetBrains Mono;
    padding-bottom: 59px;
    height: 40px;
}
h1 span{
    color: #00BFA6;
}

p{
    word-wrap: break-word; 
    margin: 5px;
    padding-top: 25px;
    color: #C2C2C2;
}


main p span {
    color: #00BFA6;
}

footer{
    display: flex;   
    flex-direction: column;  
    align-items: center;
    gap: 27px;
    margin-top: 20vh;
    list-style: none;

}
footer a {
    text-decoration: none;
   
    color: #FFFFFF;
}
 #logolock{
    position: fixed;
    left: 0;
    bottom: 5;
    margin-left: 20px;
    align-items:baseline;
}
 #line{ 
    width: 568.001px;
    height: 1px;
    background: #00BFA6;
 }

 #instagram{
    color: FFFFFF;
 }
 